<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirige la solicitud raíz a la carpeta /dist
  RewriteRule ^$ /dist/ [L]

  # Reenvía todas las demás solicitudes que no son archivos o directorios existentes a /dist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /dist/$1 [L]
</IfModule>