<IfModule mod_rewrite.c>
  RewriteEngine On

  # Si la URL ya contiene /dist, no hagas nada más (esto corta el loop)
  RewriteCond %{REQUEST_URI} !^/dist/

  # Para todas las demás peticiones, mostrá el contenido de /dist
  RewriteRule ^(.*)$ /dist/$1 [L]
</IfModule>